page-login {
  .login-content {
    background: color($colors, light);
    .logo-row {
      padding-top: 70px;
      padding-bottom: 20px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }
  }
}
