page-recover-password {
    .login-content {
        background: white;
        .logo-row {
            padding-top: 70px;
            padding-bottom: 20px;
        }

        ion-row {
            align-items: center;
            text-align: center;
        }
    }
}
