<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="false" no-padding>
  <ion-grid>
    <ion-row class="mb-5">
      <ion-col col-12 *ngIf="services">
        <ion-item>
          Reservas totales: <ion-badge color="secondary" item-end>{{services.length}}</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list [virtualScroll]="services" no-padding>
    <ion-item *virtualItem="let service" no-padding color="light">
      <ion-card class="cards-list-demo" (click)="goToService(service)">
        <ion-card-header class="pl-15 pr-15 pt-5 pb-5">
          <ion-row>
            <ion-col col-6>
              <ion-icon name="calendar" color="dark"></ion-icon>
              {{ service?.niceStartDate }}
            </ion-col>

            <ion-col col-6 class="text-right">
              <ion-icon name="time" color="dark"></ion-icon>
              {{ service?.niceStartTime }}
            </ion-col>
          </ion-row>
        </ion-card-header>

        <ion-card-content no-padding>
          <ion-row class="pl-15 pr-15 pt-5 pb-5">
            <ion-col col-12>

              <div *ngIf="service?.passengers && service?.passengers.length">
                <ion-item *ngFor="let passenger of service?.passengers" no-padding text-wrap class="secondary-fg">
                  <ion-icon name="flag" color="secondary"></ion-icon>
                  <span *ngIf="service?.passengers[0]?.source?.city?.name != 'Aplicación móvil pasajeros'">
                    {{ passenger?.source?.city?.name }}
                  </span>

                  {{ passenger?.source?.address }}
                </ion-item>
              </div>

              <div *ngIf="!service?.passengers || !service?.passengers.length">
                <ion-item no-padding text-wrap class="danger-fg">
                  No disponible
                </ion-item>
              </div>

            </ion-col>
          </ion-row>

          <ion-row class="pl-15 pr-15 pt-5 pb-5">
            <ion-col col-12>
              <ion-item no-padding text-wrap class="success-fg">
                <ion-icon name="pin" color="success"></ion-icon>
                <span *ngIf="service?.destiny?.city?.name != 'Aplicación móvil pasajeros'">
                  {{ service?.destiny?.city?.name }}
                </span>

                {{ service?.destiny?.address }}
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="bt pl-15 pr-15 pt-5 pb-5" *ngIf="service?.driver">
            <ion-col col-9>
              <ion-item no-padding text-wrap>
                <ion-icon name="car"></ion-icon>
                {{ service?.driver?.car?.licensePlate }}
              </ion-item>

              <ion-item no-padding text-wrap>
                {{ service?.driver?.name }} {{ service?.driver?.lastname }}
              </ion-item>
            </ion-col>

            <ion-col col-3>
              <ion-item no-padding text-wrap class="text-right">
                <!--
                  <ion-icon name="text" color="secondary" class="fs-30" (click)="miscProvider.sendSMSToDriver(service)"></ion-icon>
                -->
                <ion-icon name="call" color="danger" class="pl-8 fs-30" (click)="miscProvider.callDriver(service)"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="bt pl-15 pr-15 pt-5 pb-5" *ngIf="!service?.driver">
            <ion-col col-12>
              <ion-item no-padding text-wrap class="danger-fg">
                <ion-icon name="warning" class="danger-fg"></ion-icon>
                Conductor no asignado
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="goToRequestService()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>