page-request-service {
  .input-cover {
    display: none;
  }
  .overflow {
    contain: none;
    overflow: visible;
  }
  .item-inner {
    padding: 0 !important;
  }

  ion-auto-complete {
    width: 100% !important;
  }

  .mt-32 {
    margin-top: 32px !important;
  }

  .mb-0 {
    margin-bottom: 0px !important;
  }

  .mb-25 {
    margin-bottom: 25px;
  }
  
  .bg-blue-light {
    background-color: #D9E9F4
  }

  .bg-green-light {
    background-color: #E3E9E5
  }
}
