<ion-header>
  <ion-navbar color="primary">
    <ion-title>Nueva reserva</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="requestService()" #requestServiceForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label floating>*Fecha</ion-label>
            <ion-datetime doneText="Aceptar" cancelText="Cerrar" name="startDate" displayFormat="DD MMM/YYYY" pickerFormat="DD MMM/YYYY" [(ngModel)]="data.startDate"
              required></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label floating>*Hora</ion-label>
            <ion-datetime doneText="Aceptar" cancelText="Cerrar" name="time" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="data.time"
              required></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label floating>*Dirección de inicio</ion-label>
            <ion-input name="startAddress" (ionFocus)="showAddressModal('source')" [(ngModel)]="data.startAddress" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>*Dirección de fin</ion-label>
            <ion-input name="endAddress" (click)="showAddressModal('destiny')" [(ngModel)]="data.endAddress" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>*Cantidad de pasajeros</ion-label>
            <ion-input name="passengers" min="1" type="number" [(ngModel)]="data.passengers" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>*Tipo de vehículo</ion-label>
            <ion-select name="idCarType" [(ngModel)]="data.idCarType" okText="Aceptar" cancelText="Cerrar" required>
              <ion-option value="{{carType.idCarType}}" *ngFor="let carType of carTypes">{{ carType.name }}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Aerolínea (Opcional)</ion-label>
            <ion-select name="idAeroline" [(ngModel)]="data.idAeroline" okText="Aceptar" cancelText="Cerrar">
              <ion-option value="{{aeroline.idAeroline}}" *ngFor="let aeroline of aerolines">{{ aeroline.name }}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="data.idAeroline">
            <ion-label floating>*Código del vuelo</ion-label>
            <ion-input autocomplete name="flyCode" type="text" [(ngModel)]="data.flyCode" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Observaciones (Opcional)</ion-label>
            <ion-textarea placeholder="" name="observations" [(ngModel)]="data.observations"></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">
        <button ion-button color="secondary" full type="submit" [disabled]="!requestServiceForm.form.valid || !data.startAddress || !data.endAddress">Solicitar</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>