page-request-service {
  .input-cover {
    display: none;
  }
  .overflow {
    contain: none;
    overflow: visible;
  }
  .item-inner {
    padding: 0 !important;
  }

  ion-auto-complete {
    width: 100% !important;
  }
}
