<ion-header>
  <ion-navbar color="primary">
    <ion-title>Nueva reserva</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <form (ngSubmit)="requestService()" #requestServiceForm="ngForm">
    <ion-row no-padding>
      <ion-col no-padding>
        <ion-list>
          <ion-item *ngIf="this.user.type == 'company'" class="overflow pb-0" padding>
            <ion-auto-complete item-content [dataProvider]="passengerProvider" #searchbar [options]="{ placeholder : 'Buscar pasajero' }"></ion-auto-complete>
          </ion-item>

          <ion-item class="overflow pb-0" padding>
              <ion-label floating>*Centro de costos</ion-label>
              <ion-select name="idCostCenter" [(ngModel)]="data.idCostCenter" okText="Aceptar" cancelText="Cerrar" required>
                <ion-option value="{{costCenter.idCostCenter}}" *ngFor="let costCenter of costCenters">{{ costCenter.name }}</ion-option>
              </ion-select>
          </ion-item>

          <ion-item class="pt-0" padding>
            <ion-label floating>*Fecha {{data.idPassenger}}</ion-label>
            <ion-input name="startDate" (click)="showDatePicker()" [(ngModel)]="data.startDate" required readonly></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>*Hora</ion-label>
            <ion-input name="time" (click)="showTimePicker()" [(ngModel)]="data.time" required readonly></ion-input>
          </ion-item>

          <ion-list class="mt-32 mb-0 bg-blue-light" name="startAddressType" radio-group [(ngModel)]="data.startAddressType">
            <ion-list-header class="bg-blue-light">
                *Dirección de inicio
            </ion-list-header>
            
            <ion-item class="bg-blue-light">
              <ion-label>Lista más usadas</ion-label>
              <ion-radio value="1" checked></ion-radio>
            </ion-item>

            <ion-item class="bg-blue-light">
              <ion-label>Nueva dirección</ion-label>
              <ion-radio value="2"></ion-radio>
            </ion-item>
          </ion-list>

          <ion-item class="bg-blue-light" *ngIf="data.startAddressType == 1">
            <ion-label>*Inicio</ion-label>
            <ion-select name="source" placeholder="Seleccione" [(ngModel)]="data.source" okText="Aceptar" cancelText="Cerrar" required>
              <ion-option [value]="startAddress" *ngFor="let startAddress of startAddressHistory">{{ startAddress.address }}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item class="bg-blue-light" *ngIf="data.startAddressType == 2">
            <ion-label>*Inicio</ion-label>
            <!--
              <ion-input name="startAddress" placeholder="Escriba la dirección" (ionFocus)="showAddressModal('source')" [(ngModel)]="data.startAddress" type="text"></ion-input>
            -->
            <ion-input name="startAddress" placeholder="Escriba la dirección" [(ngModel)]="data.startAddress" type="text"></ion-input>
          </ion-item>

          <ion-list class="mt-32 mb-0 bg-green-light" name="endAddressType" radio-group [(ngModel)]="data.endAddressType">
            <ion-list-header class="bg-green-light">
                *Dirección de fin
            </ion-list-header>

            <ion-item class="bg-green-light">
              <ion-label>Lista más usadas</ion-label>
              <ion-radio value="1" checked></ion-radio>
            </ion-item>

            <ion-item class="bg-green-light">
              <ion-label>Nueva dirección</ion-label>
              <ion-radio value="2"></ion-radio>
            </ion-item>
          </ion-list>

          <ion-item class="bg-green-light mb-25" *ngIf="data.endAddressType == 1">
            <ion-label>*Fin</ion-label>
            <ion-select name="destiny" placeholder="Seleccione" [(ngModel)]="data.destiny" okText="Aceptar" cancelText="Cerrar" required>
              <ion-option [value]="endAddress" *ngFor="let endAddress of endAddressHistory">{{ endAddress.address }}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item class="bg-green-light mb-25" *ngIf="data.endAddressType == 2">
            <ion-label>*Fin</ion-label>
            <!--
              <ion-input name="endAddress" placeholder="Escriba la dirección" (ionFocus)="showAddressModal('destiny')" [(ngModel)]="data.endAddress" type="text"></ion-input>  
            -->
            <ion-input name="endAddress" placeholder="Escriba la dirección" [(ngModel)]="data.endAddress" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>*Cantidad de pasajeros</ion-label>
            <ion-input name="passengers" min="1" type="number" [(ngModel)]="data.passengers" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>*Tipo de vehículo</ion-label>
            <ion-select name="idCarType" [(ngModel)]="data.idCarType" okText="Aceptar" cancelText="Cerrar" required>
              <ion-option value="{{carType.idCarType}}" *ngFor="let carType of carTypes">{{ carType.name }}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Aerolínea (Opcional)</ion-label>
            <ion-select name="idAeroline" [(ngModel)]="data.idAeroline" okText="Aceptar" cancelText="Cerrar">
              <ion-option value="{{aeroline.idAeroline}}" *ngFor="let aeroline of aerolines">{{ aeroline.name }}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="data.idAeroline">
            <ion-label floating>*Código del vuelo</ion-label>
            <ion-input autocomplete name="flyCode" type="text" [(ngModel)]="data.flyCode" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Observaciones (Opcional)</ion-label>
            <ion-textarea placeholder="" name="observations" [(ngModel)]="data.observations"></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">
        <button ion-button color="secondary" full type="submit" [disabled]="!requestServiceForm.form.valid || !data.source || !data.destiny">Solicitar</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
