page-service {
  
    .label {
        margin: 0px;
    }

    ion-card.cards-list-demo ion-card-header {
        border-bottom: .55px solid #c8c7cc;
    }

    .item-block {
        min-height: 0rem !important;
    }

    .fs-50 {
        font-size: 50px;
    }
}   
