// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../../node_modules/ionic2-auto-complete/auto-complete";

.transparent-bg {
    background-color: transparent !important;
}

.primary-bg {
    background-color: color($colors, primary) !important;
}

.primary-fg {
    color: color($colors, primary);
}

.danger-fg {
    color: color($colors, danger);
}

.secondary-fg {
    color: color($colors, secondary);
}

.dark-fg {
    color: color($colors, dark);
}

.success-fg {
    color: color($colors, success);
}

.dark-brown-fg {
    color: color($colors, dark-brown);
}

.orange-fg {
    color: color($colors, orange);
}

.all-width {
    width: 100%;
}

.h-30 {
    height: 30px;
}

.h-50 {
    height: 50px;
}

.h-70 {
    height: 70px;
}

.h-80 {
    height: 80px;
}

.m-5 {
    margin: 5px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.m-15 {
    margin: 15px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.pt-0 {
    padding-top: 0px !important;
}
.pb-0 {
    padding-bottom: 0px !important;
}

.p-15 {
    padding: 15px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.p-5 {
    padding: 5px !important;
}

.pt-5 {
    padding-top: 5px !important;
}

.pr-5 {
    padding-right: 5px !important;
}

.pb-5 {
    padding-bottom: 5px !important;
}

.pl-5 {
    padding-left: 5px !important;
}

.p-8 {
    padding: 8px !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.pr-8 {
    padding-right: 8px !important;
}

.pb-8 {
    padding-bottom: 8px !important;
}

.pl-8 {
    padding-left: 8px !important;
}

.no-margin {
    margin: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.bt {
    border-top: 1px solid color($colors, secondary);
}

.br {
    border-right: 1px solid color($colors, secondary);
}

.bb {
    border-bottom: 1px solid color($colors, secondary);
}

.bl {
    border-left: 1px solid color($colors, secondary);
}

.bt-danger {
    border-top: 1px solid color($colors, danger);
}

.br-danger {
    border-right: 1px solid color($colors, danger);
}

.bb-danger {
    border-bottom: 1px solid color($colors, danger);
}

.bl-danger {
    border-left: 1px solid color($colors, danger);
}

.home-logo {
    background-image: url(../../assets/img/logo-large.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.fs-50 {
    font-size: 50px;
}

.fs-30 {
    font-size: 30px;
}