// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bg-transparent {
    background-color: transparent !important;
}

.all-width {
    width: 100%;
}

.h-30 {
    height: 30px;
}

.h-50 {
    height: 50px;
}

.m-5 {
    margin: 5px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.ml-5 {
    margin-left: 5px !important;
}